<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service android:name=".AudioPlaybackService" android:foregroundServiceType="mediaPlayback" android:exported="false"/>
        <receiver android:name=".AudioEventReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.transcend.plugins.drmnativeaudio.soundEnded" />
                <action android:name="com.transcend.plugins.drmnativeaudio.audioLoaded" />
                <action android:name="com.transcend.plugins.drmnativeaudio.isAudioPlaying" />
                <action android:name="com.transcend.plugins.drmnativeaudio.isAudioPause" />
                <action android:name="com.transcend.plugins.drmnativeaudio.playerError" />
            </intent-filter>
        </receiver>
    </application>


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

</manifest>
